.developerheadercontainer{
    position: relative;
    float: right;
}

.developerfootercontainer{
    position: absolute;
    width: 100% !important;
    height: 100px !important;
    bottom: 0;
    background-color: yellowgreen;
}