.naytharheadercontainer{
    position: relative;
    float: right;
}

.naytharfootercontainer{
    margin: 0;
    position: absolute;
    width: 100% !important;
    height: 250px !important;
    bottom: 0;
    background-color: yellowgreen;
}

.naytharfontstylecontainer{
    padding-top: 10px;
    text-align: center;
}

.oshincontainer{
    margin: 0;
    margin-top: 100px;
    position: absolute;
    width: 100% !important;
    height: 5%;
    padding-bottom: 100px;
}

.othercontainer{
    margin: 0;
    position: absolute;
    margin-top: 450px;
    width: 100% !important;
}

.titleheadercontainer{
    padding-bottom: 10px;
    font-style: italic;
}